@import 'colors';

.carousel-item {
    img {
        width: 100%;
    }
}

.carousel-caption {
    color: black;
    background: rgba(236, 236, 236, .5);
}

@media (max-width: 500px) {
    .carousel {
        display: none !important;
    }

}