@import 'colors';

footer {
    background-color: $primary;
    color: $white;
    padding: 1rem;


    a,
    i {
        color: $white;
    }

    a:hover,
    i:hover {
        color: $secondary;
        text-decoration: none;
    }
}

@media (max-width: 400px) {
    .links-container {
        display: none !important;
    }
}