.img-text-left-switch {
    background-color: $primary;
    color: $white;
    padding: 1.5rem;

    h2 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    img {
        margin-bottom: 30px;
    }

    .img-thumbnail {
        background-color: $white;
        border-color: $white;
    }

    p {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 800px) {
    .img-text-left-switch {
        p {
            font-size: 1.5rem;
        }
    }
}