@import 'colors';

.img-text-left {
    background-color: $secondary;
    color: $white;

    h2 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    img {
        margin-bottom: 30px;
    }

    .img-thumbnail {
        background-color: $primary;
    }

    p {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 800px) {
    .img-text-left {
        p {
            font-size: 1.5rem;
        }
    }
}