@import 'Navigation';
@import 'Footer';
@import 'Homepage';
@import 'CateringPage';


body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#slide {
    width: 100%;
}