@import "colors";


.startGuest {
    text-align: right;
}

.endGuest {
    text-align: left;
}


.startGuest,
.endGuest {
    padding: 0;
}


.btn-outline-info:hover {
    background-color: $focusColor !important;
    color: $primary !important;
}

.btn-info:active {
    background-color: $white !important;
    color: $primary !important;
}

.btn-box {
    display: flex;
    justify-content: space-around;
}

.price-estimator-heading {
    color: $primary;
    font-size: 3rem;
    margin-bottom: 30px;
}

.price-estimator-guests {
    color: $secondary;
    font-size: 1.5rem;
}

.total-cost {
    color: $secondary;
    font-size: 2.5rem;
}

#slide {
    width: 100%;
}